<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>TaskMap </title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="/public/css/images/logo.png" alt="Logo">
            </a>

        </div>

        <nav>
            <ul>
                <li><a href="tasks.html">Tasks</a></li>
                <li><a href="employee.html">Employee</a></li>
                <li><a href="mood.html">Mood</a></li>
                <li><a href="/LOGIN">Login</a></li>
                <li><a href="/REGISTER">Register</a></li>
                <li><a href="calendar.html">Calendar</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <aside class="sidebar">
            <ul>
                <li><a href="tasks.html"><i class="fas fa-tasks"></i></a></li>
                <li><a href="employee.html"><i class="fas fa-users"></i></a></li>
                <li><a href="mood.html"><i class="fas fa-smile"></i></a></li>
                <li><a href="/LOGIN"><i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/REGISTER"><i class="fas fa-user-plus"></i></a></li>
                <li><a href="calendar.html"><i class="far fa-calendar-alt"></i></a></li>
            </ul>
        </aside>


    </div>

    <footer>
        <p>&copy; 2023 TaskMap App. All rights reserved.</p>
    </footer>

    <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
</body>

</html>