<!DOCTYPE html>
<html>

<head>
    <title>Mood Tracker</title>
    <link rel="stylesheet" type="text/css" href="/public/css/mood.css">
</head>

<body>
    <a href="index.html">
        <img class="logo" src="/public/css/images/logo.png" alt="Logo">
    </a>
    <h1>Mood Tracker</h1>
    <p id="feel">How are you feeling today?</p>
    <div>
        <input type="radio" id="happy" name="mood" value="happy">
        <label for="happy">Happy</label>
        <input type="radio" id="okay" name="mood" value="okay">
        <label for="okay">Okay</label>
        <input type="radio" id="sad" name="mood" value="sad">
        <label for="sad">Sad</label>
    </div>
    <button id="start-btn">Start</button>
    <p id="timer">45:00</p>
    <script src="/js/mood.js"></script>
</body>

</html>