body {
    font-family: Roboto, Arial;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.login{
    /*margin-top: 30px;*/
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 4px rgba(0.2, 0, 0.2, 0.2);
    /*margin: auto;*/
    position:relative;
    height: 500x;
    padding-bottom: 50px; 
    padding-top: 80px;
    margin: 30px auto 30px;
    max-width: 600px;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    
    flex:1;
  
  }

  .taker{
    font-size: 30px;
    font-family: Roboto, Arial;
    font-weight: bolder;
    color: rgb(31, 30, 30);
    padding-left: 150px;
    margin-bottom: 20px;

  }

  .login hr{
    color: rgb(159, 158, 158);
  }
  

  body{
    background-color:rgb(240, 238, 238);
  }

  .logic img{
    height: 130px;
  }

  .logic{
    
    width: 140px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 200px;
    border-radius: 100px;
    box-shadow: 4px 4px 8px 4px rgba(0.2, 0, 0.2, 0.2);
    padding-left: 10px;
  }

  .entity{
    padding-top: 20px;
    height: 50px;
    font-size: medium;
    font-family: Roboto, Arial;
    text-align: left;
    padding-left: 40px;
    padding-bottom: 15px;
    margin-bottom: 10px;

  }



  .entity p{
    color: rgb(69, 69, 69);
  }

 
  .logs{
    font-family: Roboto, Arial;
    font-size: 20px;
    font-weight: bold;
    color: rgb(69, 69, 69);
  }

  

  
  

