/* Set background color */
body {
  background-color: #f0f5f9;
}

/* Set header styles */
header {
  background-color: #1c2331;
  color: white;
  padding: 20px;
}

/* Style the h1 in the header */
header h1 {
  margin: 0;
  font-size: 36px;
  font-weight: normal;
}

/* Set content styles */
.login {
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  max-width: 500px;
  box-shadow: 0px 0px 10px #c9d6df;
  border-radius: 10px;
  position: relative;
}

/* Style the profile picture */
.login .logic img {
  width: 70px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  background: linear-gradient(to bottom, #f2f2f2, #87CEFA);
  background-size: 100% 200%;
  animation: gradient 3s linear infinite;
  
}

/* Animate the profile picture */
@keyframes  gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -100%;
  }
}

/* Style the text */
.entity {
  margin-bottom: 10px;
}

/* Style the title */
.entity .logs {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Set the hr styles */
hr {
  border: none;
  height: 1px;
  background-color: #c9d6df;
  margin: 10px 0;
}
